.square {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.isPossible-square {
    background-color: yellow;
}

.square-hover {
    background-color: rgb(145, 145, 47);
}


.dark-square {
    background-color: #63462D;
}

.light-square {
    background-color: #B07C4F;
}

.none {
    display: none;
}