.square {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.isPossible-square {
    background-color: rgba(191, 191, 27, 0.803);
}

.square-hover {
    background-color: rgb(113, 113, 15);
}


.dark-square {
    background-color: rgb(33, 32, 32);
}

.light-square {
    background-color: #fff;
}

.none {
    display: none;
}