.piece {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
}

.red-piece {
    background-color: red;
}

.chosen {
    transform: translate(0, 0);
}

.killer {
    border: 2px solid yellow;
    cursor: pointer;
}


.black-piece {
    background-color: black;
}