.piece {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: -2px;
}

.red-piece {
    background-color: #f62a2a;
    border: 2px solid #f56679;

}

.chosen-piece {
    transform: translate(0, 0);
}

.killer-piece {
    border: 2px solid rgb(255, 204, 0);
    cursor: pointer;
}

.hovering-piece {
    border: 2px solid #fff;
    cursor: pointer;
}

.black-piece {
    background-color: rgb(63, 62, 62);
    border: 2px solid rgb(125, 123, 123);
}